* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --navbar-bgcolor: #f95738;
    --navbar-color: #f95738;
    --bg: #fff;
}


/* Navbar */

@keyframes float {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(10deg);
    }
}

nav {
    background-color: var(--navbar-bgcolor);
    padding: 10px 10px 0 10px;
    display: flex;

    & .buttons {
        
        & button {
            background-color: var(--navbar-bgcolor);
            border-radius: 12px 12px 0 0;
            cursor: pointer;
            border: none;
            padding: 10px;
            color: white;
            font-weight: bold;
            
            & i {
                font-size: 1.3em;
            }

            &.active {
                transition: background 0.6s;
                background-color: var(--bg);
                color: var(--navbar-bgcolor);
            }
        }
    }
}